@font-face {
	font-family: 'League Spartan';
	src: url('leaguespartan-bold.woff');
	font-family: 'Aileron-Light';
	src: url('Aileron-Light.otf');
}

body {
	background-color: #282647;
	margin-top: 2%;
	margin-left: 6.5%;
	margin-right: 6.5%;
}

h1 {
	color: #FAFAFA;
	font-family: 'League Spartan';
	text-align: center;
}

h2 {
	color: #D699A7;
	font-family: 'League Spartan';
}

h3 {
	color: #FAFAFA;
	font-family: 'Aileron-Light';
	text-align: justify;
}

h5 {
	color: #FAFAFA;
	font-family: 'Aileron-Light';
	text-align: center;
}

li {
	color: #FAFAFA;
	font-family: 'Aileron-Light';
	font-weight: bold;
	text-align: justify;
}